
$font-stack: 'Assistant', sans-serif;
$font-header: 'Righteous', cursive;

html {
  font: 18px $font-stack;
  line-height: 1.6em;
  color: $textbase;
}

.righteous {
  font-family: $font-header;
}

h1 {
  font-size: 7em;
}

p {
  max-width: 75ch;
}

.reg {
  font: 0.5em $font-stack;
  font-weight: bold;
}
